{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href={% static "css/style.css"%}>
</head>
<body>
  <div class="signUpcontainer">
        <h2>Create an Account</h2>
        <p>Let's get you signed up!</p>
        <form>
            <input type="text" name="first_name" placeholder="First Name" required><br>
            <input type="text" name="last_name" placeholder="Last Name" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="tel" name="phone" placeholder="Phone Number" pattern="[0-9]{10}" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
            <button class="register" type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/signin">Sign In</a></p>
    </div>
</body>
</html>